{% extends 'base.html.twig' %}
{% block title %}About Page!{% endblock %}
{% block body %}
{{ include('header/index.html.twig') }}
<section id="apropos">
        <h2>À Propos</h2>
        <p>Nous servons des plats faits maison avec des ingrédients frais.</p>
    </section>
    {{ include('footer/index.html.twig') }}
{% endblock %}