{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{{ include('header/index.html.twig') }}
<section id="contact">
        <h2>Contact</h2>
        <p>Réservez votre table dès maintenant.</p>
    </section>
        {{ include('footer/index.html.twig') }} 

{% endblock %}
